<div id="upload_<%= upload.id %>">
  <% if upload.file.attached? %>
    <p>
      Скачать файл: <%= link_to upload.title, rails_blob_path(upload.file, disposition: "attachment") %>
    </p>
  <% end %>
</div>
